################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/okta-aspnet-mvc-example/obj/Debug
/packages
/.vs
